@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.App {
  background-color: #f0f2f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1b3875;
  /* PartSelect Blue */
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  font-weight: 600;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index: 1000;
}